html { 
  background: url(HYK7xHF.gif) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}
body {
    height: 100%;
   overflow: hidden;
}

h1 {
  color: white;
    font-family: 'Vollkorn';
    font-size: 5.8em;
    position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -270px;
}