html { 
  background: url(yXXwRlv.gif) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}
body {
    height: 100%;
   overflow: hidden;
}

h1 {
    font-family: 'Vollkorn';
    font-size: 5.8em;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
    opacity: 0.2;
    position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -270px;
}