---
layout: default
---

<div class="home">

  <ul class="posts">
{% for post in paginator.posts %}
<img class="separator" src="/assets/img/g3009.png" />
  <h1>{{ post.title }}</h1>
  <div class="content">
    {{ post.content }}
  </div>
{% endfor %}
  
 {% if paginator.total_pages > 1 %}
 <div class="pagination">
{% if paginator.previous_page %}
  {% if paginator.previous_page == 1 %}<a href="/">&laquo; Newer articles</a>
  {% else %}<a href="{{ paginator.previous_page_path }}">&laquo; Newer articles</a>
  {% endif %}
{% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }} - </a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}"> - {{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}"> Older articles &raquo;</a>
  {% else %}
    <span></span>
  {% endif %}
</div>
{% endif %}

</div>
