<head>
  <meta charset="utf-8">
  <title> {% if page.title %} {{ page.title }} {% endif %}</title>
  <meta name="description" content="Ivan Odbratt">
  <meta name="author" content="Ivan Odbratt">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="/public/img/favicon.ico">
  <link rel="stylesheet" href="/public/css/main.css" />
  <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script src="/public/js/fittext.js"></script>
  <script src="/public/js/app.js"></script>
  <script src="/public/js/respond.min.js"></script>
</head>